<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <div class='container'>
      <h1>{{ title }}</h1>
      {% include './_nav.html' %}
      {% block content %}
      {% endblock %}
      {% include './_nav.html' %}
      <h3>Goal</h3>
      <div>
        The goal is to create an express application with a data access layer which queries a pg database. It should have the same functionality as the site you are looking at.
      </div>
      <h4>Resources</h4>
      <a target='_blank' href='https://www.youtube.com/watch?v=cLvNcS-CQSA&list=PLmXgRzDsvB4fY5ozo4SwHGTax1Nj7oBbi&index=1'>Playlist for creating an express application</a>
      <br />
      <a target='_blank' href='https://www.youtube.com/playlist?list=PLmXgRzDsvB4f_f2MdzvTFKSqUJjKPG_it'>Playlist for creating a data access layer with pg</a>
      <h4>Requirements</h4>
      <pre>
      name your repo acme-twitter-pg
      files:
        server.js (~30 lines of code)
          - sync and seed data and start server
          - set up static routes 
          - define '/' route and require tweets router 
        routes/tweets.js (~18 lines of code)
        db/index.js (~40 lines of code)
          sync - function which creates tables
          seed - function which seeds data
          getTweets - function which queries for all tweets
          getTweet - function which queries for one tweet
        views/
          layout.html
          index.html
          tweet.html
          tweets.html
      </pre>
    </div>
  </body>
</html>
